@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --clr-main: #901C1C;
    --clr-second: #D3573C;
    --clr-third: #757575;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--clr-main);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer_section .infos .location {
    color: var(--clr-main);
    font-size: 15px;
}

.photographer_section .infos .tag-line {
    font-size: 13px;
    padding-block: 3px;
}

.photographer_section .infos .price {
    color: var(--clr-third);
    font-size: 12px;
}

.photographer_section article h2 {
    color: var(--clr-second);
    font-size: 36px;
    white-space: nowrap;
    padding-top: 20px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
}