.sort-menu-container {
  margin: 30px 20px 0;

  label {
    font-weight: bold;
    margin-right: 25px;
  }

  select {
    background-color: var(--clr-main);
    font-size: 1.2rem;
    color: white;
    padding: 15px 20px;
    border: none;
    transition: 300ms ease-in-out;

    &:focus,
    &:hover {
      background-color: var(--clr-second);
    }

    option {
      height: 30px;
      padding: 20px;
    }
  }
}
