.overflow {
  overflow-y: hidden;
}

#contact_modal {
  display: none;
  position: fixed;
  inset: 0;
  place-items: center;
  overflow-y: scroll;
}

#contact_modal.display-modal {
  display: grid;
}

.photograph-header {
  width: 100%;
  background-color: #fafafa;
  height: 300px;
  padding-inline: 50px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "title button img" "text button img";
}

.photograph-header h1 {
  grid-area: title;
  color: var(--clr-second);
  font-size: 64px;
  margin: 0;
  margin-top: 65px;
  align-self: center;
}

.photograph-header p {
  grid-area: text;
  align-self: flex-start;
  /* margin-bottom: 50px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.photograph-header p .location {
  font-size: 24px;
  color: var(--clr-main);
}

.photograph-header p .tagline {
  font-size: 18px;
  color: var(--clr-third);
}

.photograph-header img {
  grid-area: img;
  justify-self: flex-end;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.photograph-header .contact-button,
.modal .contact-button {
  grid-area: button;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-top: 30px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--clr-main);
  border-radius: 5px;
  cursor: pointer;
}

.modal .contact-button {
  margin-top: 0;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 35px 35px;
  margin: 5% auto;
}

.modal header {
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-right: 40px;
}

.close-form {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: transparent;
  border: none;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}

#medias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 50px;
  gap: 30px;
}

#medias article {
  min-height: 350px;
  width: 350px;
}

#medias img,
#medias video {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

#medias div {
  font-size: 24px;
  color: var(--clr-main);
  height: 60px;
  padding-top: 10px;
}

.media-infos {
  display: flex;
  align-items: center;
}

.likes-count {
  margin-left: auto;
}

.like-button {
  display: grid;
  place-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: 7px;
}

.like-button svg path {
  transition: 200ms ease-in-out;
}

.like-button:focus svg path,
.like-button:hover svg path {
  fill: #d3573c;
}

.stats-price__container {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 30px;
  width: 376px;
  height: 54px;
  background-color: var(--clr-second);
  font-size: 24px;
  color: black;
  padding-inline: 34px;
  border-radius: 5px 5px 0 0;
}

.total-likes__container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.total-likes {
  margin-right: 5px;
}

.lightbox-container {
  position: fixed;
  overflow-y: scroll;
  inset: 0;
  background-color: white;
  display: grid;
  place-items: center;
}

.lightbox {
  max-width: 1253px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  border: solid 2px red;
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: ". media close" "previous media next" ". media .";
}

.lightbox img,
.lightbox video {
  height: 80%;
  width: auto;
  object-fit: cover;
}

.lightbox-media-container {
  grid-area: media;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: pink;
  overflow: hidden;
}

.media-infos-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-lightbox {
  grid-area: close;
  align-self: flex-start;
}

.previous-media {
  grid-area: previous;
}

.next-media {
  grid-area: next;
}

.hide-media {
  display: none;
}

:root {
  --clr-main: #901c1c;
  --clr-second: #d3573c;
  --clr-third: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1240px;
}

header .logo {
  height: 80px;
  margin-left: 100px;
}

button {
  transition: 300ms ease-in-out;
}

button:not(.like-button):focus,
button:not(.like-button):hover {
  background-color: #d3573c;
}

/*# sourceMappingURL=index.css.map */
