:root {
  --clr-main: #901c1c;
  --clr-second: #d3573c;
  --clr-third: #757575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1240px;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--clr-main);
}

button {
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.overflow {
  overflow-y: hidden;
}

.hide-media {
  display: none !important;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
header a {
  display: grid;
  place-items: center;
  height: 50px;
}
header a .logo {
  height: 50px;
}

.contact-button {
  grid-area: button;
  justify-self: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  margin-top: 30px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: var(--clr-main);
  border-radius: 5px;
}
.contact-button:focus, .contact-button:hover {
  background-color: #d3573c;
}

.photograph-header {
  width: 100%;
  background-color: #fafafa;
  height: 300px;
  padding-inline: 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "title button img" "text button img";
}
.photograph-header h1 {
  grid-area: title;
  color: var(--clr-second);
  font-size: 64px;
  margin: 0;
  align-self: center;
}
.photograph-header p {
  grid-area: text;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.photograph-header p .location {
  font-size: 24px;
  color: var(--clr-main);
}
.photograph-header p .tagline {
  font-size: 18px;
  color: var(--clr-third);
}
.photograph-header .contact-button {
  grid-area: button;
}
.photograph-header img {
  grid-area: img;
  justify-self: flex-end;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}

#contact_modal {
  display: none;
  position: fixed;
  inset: 0;
  place-items: center;
  overflow-y: scroll;
}
#contact_modal.display-modal {
  display: grid;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 35px 35px;
  margin: 5% auto;
}
.modal header {
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-right: 40px;
}

.close-form {
  position: absolute;
  top: 20px;
  right: 0;
  background-color: transparent;
  border: none;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 36px;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
form .contact-button {
  margin-top: 0;
}

.sort-menu-container {
  margin: 30px 20px 0;
}
.sort-menu-container label {
  font-weight: bold;
  margin-right: 25px;
}
.sort-menu-container select {
  background-color: var(--clr-main);
  font-size: 1.2rem;
  color: white;
  padding: 15px 20px;
  border: none;
}
.sort-menu-container select option {
  height: 30px;
  padding: 20px;
}

#medias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin-top: 50px;
  gap: 30px;
}
#medias article {
  min-height: 350px;
  width: 350px;
}
#medias img,
#medias video {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
#medias .media-infos {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--clr-main);
  height: 60px;
  padding-top: 10px;
}
#medias .media-infos .likes-count {
  margin-left: auto;
}
#medias .media-infos .like-button {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  margin-left: 7px;
}
#medias .media-infos .like-button svg path {
  transition: 200ms ease-in-out;
}
#medias .media-infos .like-button:focus svg path, #medias .media-infos .like-button:hover svg path {
  fill: #d3573c;
}

.lightbox-container {
  position: fixed;
  overflow-y: scroll;
  inset: 0;
  background-color: white;
  display: grid;
  place-items: center;
}

.lightbox {
  max-width: 1253px;
  width: 100%;
  max-height: 800px;
  height: 100%;
  border: solid 2px red;
  display: grid;
  place-items: center;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas: ". media close" "previous media next" ". media .";
}
.lightbox img,
.lightbox video {
  height: auto;
  max-height: 95%;
  width: 100%;
  object-fit: cover;
}
.lightbox button {
  background-color: transparent;
  border: none;
}
.lightbox button:hover svg path, .lightbox button:focus svg path {
  fill: var(--clr-second);
}
.lightbox button:active {
  transform: scale(0.8);
}
.lightbox button svg path {
  fill: var(--clr-main);
  transition: 300ms ease-in-out;
}
.lightbox .close-lightbox {
  grid-area: close;
}
.lightbox .previous-media {
  grid-area: previous;
}
.lightbox .next-media {
  grid-area: next;
}
.lightbox .lightbox-media-container {
  grid-area: media;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.lightbox .lightbox-media-container .media-infos-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.lightbox .lightbox-media-container .media-infos-container p {
  font-size: 24px;
  color: var(--clr-main);
  height: 60px;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.stats-price__container {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 30px;
  width: 376px;
  height: 54px;
  background-color: var(--clr-second);
  font-size: 24px;
  color: black;
  padding-inline: 34px;
  border-radius: 5px 5px 0 0;
}
.stats-price__container .total-likes__container {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.stats-price__container .total-likes {
  margin-right: 5px;
}

/*# sourceMappingURL=index.css.map */
